.Mypage{
    height: 100vh;

    &__Profile{
        height:100px;
        overflow: auto;
    }
    &__Myfont{
        height:200px;
        overflow: auto;
    }
    &__Myfavoritesfont{
        height:200px;
        overflow: auto;
    }
    &__Mydownloadfont{
        height:200px;
        overflow: auto;
    }
}