.Mypage{
    &__Profile{
        height:100px;
        overflow: auto;
    }
    &__Myfont{
        height:100px;
        overflow: auto;
    }
    &__Myfavoritesfont{
        height:100px;
        overflow: auto;
    }
    &__Mydownloadfont{
        height:100px;
        overflow: auto;
    }
}